{% extends "../layouts/base.twig" %}

{% block style %}
	<link rel="stylesheet" href="/assets/css/dashboard.css">
{% endblock %}

{% block main %}
	<head>
		<title>{{ title }}</title>
	</head>
	<main>
		<div id="container">
			<div>
				<div class="sidebar">
					<input type="text" placeholder="Rechercher...">
					<div class="sidebar-item">
						{% for category in generalCategories %}
							<div class="category">
								<button>
									<span>{{ category.name }}</span>
								</button>
								<a href="/delete/category/{{ category.id }}">
									<span>X</span>
								</a>
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="add-buttons">
					<button id="add-game">
						<span>+  AJOUTER JEU</span>
					</button>
					<button id="add-category">
						<span>+  AJOUTER CATEGORIE</span>
					</button>
					<button id="swapping">
						<span>ALTERNER</span>
					</button>
				</div>
			</div>
			<div class="main-content">
				<div id="showuser">
					{% for user in users %}
						{% if user.isAdmin == false %}
							<div class="user">
								<div class="td">
									{% if user.profileImage %}
										<img src="/assets/img/uploads/profilePic/{{ user.profileImage }}" alt="User Avatar">
									{% endif %}
								</div>
								<div class="td">
									<p>{{ user.username }}</p>
								</div>
								<div class="td">
									<a href="/delete/user/{{ user.id }}">
										<span>delete</span>
									</a>
								</div>
								<div class="td">
									<button>
										<span>Ban</span>
									</button>
								</div>
							</div>

						{% endif %}
					{% endfor %}
				</div>
				<div id="showgame">
					{% for game in games %}
						<div class="game">
							<div class="td">
								{% if game.imageUrl %}
									<img src="/assets/img/uploads/gamePic/{{ game.imageUrl }}" alt="Game Image">
								{% endif %}
							</div>
							<div class="td">
								<p>{{ game.name }}</p>
							</div>
							<div class="td" id="descri-scroll">
								<p>{{ game.informations }}</p>
							</div>
							<div class="td">
								<button data-game-id="{{ game.id }}" class="modifyGame">
									<span>Modify</span>
								</button>
							</div>
							<div class="td">
								<button data-game-id="{{ game.id }}" class="deleteGame">
									<span>Delete</span>
								</button>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div id="categoryModal" class="modal">
			<div class="modal-content">
				<span class="close">&times;</span>
				<h2>Ajouter une nouvelle catégorie</h2>
				<form action="/confirmCategory" method="POST">
					<div>
						<input type="text" id="categoryName" name="categoryName" placeholder="Nom de la catégorie" required>
					</div>
					<br>
					<div>
						<button type="submit" id="confirmCategory" value="confirmCategory">
							<span>Ajouter</span>
						</button>
					</div>
				</form>
			</div>
		</div>
		<div id="addingGameModal" class="modal">
			<div class="modal-content">
				<span class="close">&times;</span>
				<h2>Ajouter un jeu</h2>
				<form action="/confirmGame" method="POST" enctype="multipart/form-data">
					<div>
						<label for="gameName">Nom du jeu :</label>
						<input type="text" name="gameName" id="gameName">
					</div>
					<br>
					<div>
						<label for="gameImage">Sélectionner l'image du jeu :</label>
						<input type="file" id="gameImage" name="gameImage" accept="image/*">
					</div>
					<br>
					<div>
						<label for="developer">Noms de développeurs :</label>
						<textarea name="developer" id="developer" row="10"></textarea>
					</div>
					<br>
					<div>
						<label for="description">Entrez le descriptif du jeu :</label>
						<textarea name="description" id="description" row="10"></textarea>
					</div>
					<br>
					<div>
						<label for="linkFandom">Entrez le lien du fandom :</label>
						<input type="text" name="linkFandom" id="linkFandom">
					</div>
					<br>
					<div>
						<label for="linkSteam">Entrez le lien du steam (si existant) :</label>
						<input type="text" name="linkSteam" id="linkSteam">
					</div>
					<br>
					<div>
						<h3>Catégories du jeu :</h3>
						{% for category in generalCategories %}
							<div>
								<input type="checkbox" id="category_{{ category.id }}" name="categories[]" value="{{ category.id }}">
								<label for="category_{{ category.id }}">{{ category.name }}</label>
							</div>
						{% endfor %}
					</div>
					<br>
					<div>
						<button type="submit" name="confirmGame" value="confirmGame">
							<span>Ajouter jeu</span>
						</button>
					</div>
				</form>
			</div>
		</div>
		<div id="modifyGameModal" class="modal">
			<div class="modal-content">
				<span class="close">&times;</span>
				<h2>Modifier un jeu</h2>
				<form id="modifyForm" action="/modifyGame/{{ game.id }}" method="POST" enctype="multipart/form-data">
					<div>
						<label for="name">Nom du jeu :</label>
						<input type="text" name="name" id="modifyName" value="{{ game.name }}">
					</div>
					<br>
					<div>
						<label for="developer">Noms de développeurs :</label>
						<textarea name="developer" id="modifyDeveloper" row="10" value="{{ game.developer }}"></textarea>
					</div>
					<br>
					<div>
						<label for="description">Entrez le descriptif du jeu :</label>
						<textarea name="description" id="modifyDescription" row="10" value="{{ game.description }}"></textarea>
					</div>
					<br>
					<div>
						<label for="linkFandom">Entrez le lien du fandom :</label>
						<input type="text" name="linkFandom" id="modifyLinkFandom" value="{{ game.linkFandom }}">
					</div>
					<br>
					<div>
						<label for="linkSteam">Entrez le lien du steam (si existant) :</label>
						<input type="text" name="linkSteam" id="modifyLinkSteam" value="{{ game.linkSteam }}">
					</div>
					<br>
					<div>
						<label for="gameImage">Sélectionner l'image du jeu :</label>
						<input type="file" id="modifyImage" name="gameImage" accept="image/*" value="{{ game.gameImage }}">
					</div>
					<br>
					<div>
						<h3>Catégories du jeu :</h3>
						<div>
							<div id="modal-categories"></div>
						</div>
					</div>
					<br>
					<div>
						<button type="submit" name="modifyGame" value="modifyGame">
							<span>Modifier jeu</span>
						</button>
					</div>
				</form>
			</div>
		</div>
		<div id="deleteGameModal" class="modal">
			<div class="modal-content">
				<span class="close">&times;</span>
				<h2>Supprimer un jeu</h2>
				<form id="deleteForm" action="/deleteGame/{{ game.id }}" method="GET">
					<div>
						<p>Êtes-vous sûr de vouloir supprimer ce jeu ?</p>
					</div>
					<br>
					<div>
						<button type="submit" id="confirmDeleteBtn" data-game-id="{{ game.id }}">
							<span>Supprimer jeu</span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</main>
{% endblock %}
{% block script %}
	<script src="/assets/js/swapper.js"></script>
	<script src="/assets/js/adminModales.js"></script>

{% endblock %}
