{% extends "../layouts/base.twig" %}

{% block style %}
	<link rel="stylesheet" href="/assets/css/reset_password.css">
{% endblock %}

{% block main %}
	<head>
		<title>{{ title }}</title>
	</head>
	<main>
		<div id="container">
			<form action="/reset-password/{{ token }}" method="POST" id="resetPasswordForm">
				<h1>Réinitialisation du mot de passe</h1>

				{% if errors %}
                
					{% if errors.passwordError %}
						<p class="error">{{ errors.passwordError }}</p>
					{% endif %}

					{% if errors.confirmPasswordError %}
						<p class="error">{{ errors.confirmPasswordError }}</p>
					{% endif %}

					{% if errors.generalError %}
						<p class="error">{{ errors.generalError }}</p>
					{% endif %}

				{% endif %}

				<label for="password">Nouveau mot de passe :</label>
				<input type="password" id="password" name="password" required>

				<label for="confirmPassword">Confirmer le mot de passe :</label>
				<input type="password" id="confirmPassword" name="confirmPassword" required>

				<button type="submit">
					<span class="text">Réinitialiser le mot de passe</span>
				</button>
			</form>
		</div>
	</main>
{% endblock %}
